@media screen and (max-width: 600px) {
    .home{

        height: 100vh;
        max-height: 100vh;
        overflow-y: hidden;
        display: grid;
        grid-template-columns: 0px minmax(200px,1fr) 0;
        grid-template-rows: 1fr;
        /* background-color:var(--blk); */
        background-color:var(--DDblk);
        /* overflow-y: hidden; */
    }
    .mainContainer.second > .container.first{
        display: none;
     }


     
/* 
MOBILE VIEW HEADER STARTS
 */

 .mainContainer.second > .container.mobile{
    background-color: var(--blk);
    /* border-bottom: 1px solid red; */
    color: var(--wt);
    height: 150px;
    width: 100%;
    top: 0px;
    position: sticky;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.mainContainer.second > .container.mobile .content{
    /* background-color: red; */
    margin: 2px 0;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
/* .mainContainer.second > .container.mobile .content:nth-child(2){
    justify-content: space-around;
} */
.mainContainer.second > .container.mobile .content:nth-child(2) p{
    /* background-color: red; */
    padding: 5px 15px;
    /* border-bottom: 2px solid green; */
}
.mainContainer.second > .container.mobile .content:nth-child(2) p small{
    background-color: green;
    border-radius: 50%;
    padding: 2px;
    font-size: 0.75rem;
}

 /* 
 MOBILE VIEW HEADER ENDS
  */



















}