*{
    margin: 0;
    padding: 0;
    color: var(--wt);
    font-family: var(--Poppins);
    font-weight: normal;
}
html,body{
    height: 100vh;
    max-height: 100vh;
    overflow-y: hidden;
}

/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Romanesco', cursive; */


:root{
    /* fonts */
    --Poppins: 'Poppins',sans-serif;
    --Roboto: 'Roboto Condensed', sans-serif;
    --Romanesco: 'Romanesco',cursive;
    --Montserrat: 'Montserrat', sans-serif;


    /* colors */
    --wt: white;
    --Dblk: rgb(26, 23, 23);
    --blk:black;
    --grn: green;
    --gray: rgba(80, 79, 79,0.4);
    --Deepgray: rgba(80, 79, 79,3);
    --Dgray: rgb(26, 23, 23) ;

}
.nav:not(.settings){
    color: white !important;
    font-size: 20px;
    /* cursor: pointer; */
    /* background-color: var(--gray); */
    border-radius: 10px;
    width: 85%;
    text-align: center;
    padding: 8px 0;
    border-left: 1px solid transparent ;
}
.nav:not(.settings):hover{
    background-color: var(--gray);
    border-left: 1px solid var(--grn) ;
}
i.settings{
    font-size: 25px;
    color: white !important;
    /* cursor: pointer; */
    border-radius: 10px;
    width: 85%;
    text-align: center;
    padding: 8px 0;
}
.logo{
    width: 30px;
    border-radius:50% ;
    margin-left: 10px;
}

.home{
    display: grid;
    grid-template-columns: 1fr;
    height: 100vh;
    background-color: var(--Dblk);
    grid-template-rows: minmax(50px,20px) 1fr;
}
header{
    background-color: var(--blk);
    display: flex;
    align-items: center;
    gap: 20px;
}
main{
    font-family: var(--Poppins);
    color: var(--wt);
    font-weight: normal;
    display: grid;
    grid-template-columns:minmax(400px, 1fr) 4fr;
    height: 100%;
}
main > * {
    border-right: 1px solid var(--blk);
}
.sidebar-container{
    display: grid;
    grid-template-columns: minmax(50px, 20px) 1fr;
}
.sidebar-container .container:nth-child(1){
   margin-top: 20px;
}
.sidebar-container .container:nth-child(2){
    margin-bottom: 20px;
}
.small-sidebar{
    background-color: var(--blk);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}
.small-sidebar > * {
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}
.small-sidebar > * > * {
    margin: 5px 0;
}

.bg-sidebar{
    /* background-color: red; */
    display: grid;
    grid-template-rows: minmax(60px,100px) minmax(200px, 0.8fr);
}
.bg-sidebar .container{
    margin: 0 10px !important;
    /* background-color: green; */
}
/* bg-sidebar header */
.bg-sidebar .container:nth-child(1){
    padding-top: 20px ;
    /* border: 1px solid var(--gray); */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.bg-sidebar .container:nth-child(1) {
/* background-color: red; */
flex-grow: 1;
}
.bg-sidebar .container .content:nth-child(1){
    /* background-color: green; */
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    padding: 10px 0;
}
.bg-sidebar .container .content:nth-child(2){
    display: flex;
    outline: 1px solid var(--gray);
    border-radius: 10px;
    border-bottom: 1px solid var(--grn);
    align-items: center;
    justify-content: space-between;
}
.bg-sidebar .container .content:nth-child(2) input{
    background-color: transparent;
    border: none;
    outline: none;
    padding: 5px 10px;
    width: 80%;
    color: var(--wt);
}
.bg-sidebar .container .content .edit >*:nth-child(2){
    margin-left: 30px;
}
.bg-sidebar .container .content .chat{
    font-size: 16px;
}

/* bg-sidebar body */
.bg-sidebar .container:nth-child(2){
    /* background-color: green; */
    overflow-y: scroll;
    display: flex;    
    gap: 20px;
    flex-direction: column;

}
.bg-sidebar .container:nth-child(2) > *:nth-child(1){
    margin-top: 20px;
}
.bg-sidebar .container:nth-child(2) > * {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--gray);
}
.bg-sidebar .container:nth-child(2)::-webkit-scrollbar{
    background-color: transparent;
}
.bg-sidebar .container:nth-child(2)::-webkit-scrollbar-button{
    background-color: transparent;
}
.bg-sidebar .container:nth-child(2) .chat-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.bg-sidebar .container:nth-child(2) .chat-nav div:nth-child(2){
    /* background-color: red; */
    flex-grow: 1;
}
.bg-sidebar .container:nth-child(2) .chat-nav div:nth-child(2) p{
    font-family: var(--Poppins);
    cursor: default;
}
.bg-sidebar .container:nth-child(2) .chat-nav div:nth-child(2) small{
    font-family: var(--Montserrat);
    font-weight: 100;
    cursor: default;
    
}
.chats-closed{
    background-image: linear-gradient(to right, var(--Dgray),var(--Dgray)), url(https://w0.peakpx.com/wallpaper/818/148/HD-wallpaper-whatsapp-background-cool-dark-green-new-theme-whatsapp.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.chats-closed .container{
    /* background-color: red; */
    text-align: center;
}
.chats-closed .container h1{
    font-size: 1.2rem;
}
.chats-closed .container p{
    color: var(--Deepgray);
}
i.whatsapp{
    font-size: 90px;
    margin: 10px 0;
    color: var(--gray);
}