*{
    margin: 0;
    padding: 0;
    font-family: var(--Poppins);
    font-weight: normal;
    color: var(--wt);
}


/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Romanesco', cursive; */


:root{
    /* fonts */
    --Poppins: 'Poppins',sans-serif;
    --Roboto: 'Roboto Condensed', sans-serif;
    --Romanesco: 'Romanesco',cursive;
    --Montserrat: 'Montserrat', sans-serif;


    /* colors */
    --wt: white;
    --Dblk: rgb(26, 23, 23);
    --DDblk: rgb(17, 15, 15);
    --blk:black;
    --grn: green;
    --gray: rgba(80, 79, 79,0.4);
    --Deepgray: rgba(80, 79, 79,3);
    --Dgray: rgba(26, 23, 23,0.94) ;
    --Egray: rgba(26, 23, 23, 0.925) ;
    --Ngray:rgb(166, 164, 164) ;

}
.home{

    height: 100vh;
    max-height: 100vh;
    overflow-y: hidden;
    display: grid;
    grid-template-columns: 80px minmax(200px,400px) 1fr;
    grid-template-rows: 1fr;
    /* background-color:var(--blk); */
    background-color:var(--DDblk);
    /* overflow-y: hidden; */
}
.mainContainer{
    /* border: 1px solid red; */
    overflow-y: scroll;
    overflow-x: hidden;
}
.mainContainer::-webkit-scrollbar{
    background-color: transparent;
    width: 5px;
}
.mainContainer::-webkit-scrollbar-thumb{
    background-color: var(--wt);
    border-radius: 10px;
    height: 20px !important;
}
.mainContainer.first{
    color: var(--wt);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}
.mainContainer.first > .container{
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 30px;
}
.mainContainer.first > .container i{
    font-size: 20px;
}
.mainContainer.first > .container img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.mainContainer.second{
    background-color: var(--Dblk);
    position: relative;
}
/* .mainContainer.second > .container{
    border: 1px solid red;
}  */
.mainContainer.second > .container.first{
    background-color: var(--Dblk);
    color: var(--wt);
    height: 150px;
    width: 100%;
    top: 0px;
    position: sticky;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.mainContainer.second > .container.first .content{
    /* background-color: red; */
    margin: 2px 0;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.icon{
    padding: 10px 20px;
    font-size: 22px;
    /* background-color: green; */
    border-radius: 10px;
}
.mainContainer.second .container.first .content form{
    width: 100%;
    outline: none;
    background-color: var(--Dgray);
    border: 1px solid var(--gray);
    border-radius: 10px;
}
.mainContainer.second .container.first .content form input{
    width: 75%;
    padding: 10px 0;
    background-color: transparent;
    border: none;
    margin-left: 10px;
    outline: none;
    color: var(--wt);
}
.mainContainer.second .container.first .content form input::placeholder{
    color: var(--DDgray);
}
.mainContainer.second .container.first .content form .btn{
    width: 18%;
    padding: 10px 0;
    background-color: transparent;
    border: none;
    outline: none;
    text-align: right;
    color: var(--wt);
}



.mainContainer.second > .container.second{
    color: var(--wt);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 5px;
}
.mainContainer.second > .container.second .content{
    /* background-color: red; */
    margin: 2px 0;
    flex-grow: 1;
    display: flex;
    /* justify-content: space-between; */
    gap: 20px;
    align-items: center;
    padding: 15px 10px;
    cursor: default;
    border-radius: 10px;
}
.mainContainer.second > .container.second .content:hover{
    background-color: var(--gray);
}
.mainContainer.second > .container.second .content div {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.mainContainer.second > .container.second .content div > * {
    font-family: var(--Poppins);
    font-weight: normal ;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* color: red ; */
    /* background-color: red; */
}
.mainContainer.second > .container.second .content div > small{
    color: var(--Ngray);
}

.closed-chat{
    /* ///// */
    display: none !important;
    background-image: linear-gradient( var(--Egray),var(--Egray)), url(https://swall.teahub.io/photos/small/70-707627_whats-app-background.jpg) ;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.opened-chat{
    /* background-color: var(--gray)!important; */
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}   
.opened-chat > * {
    flex-grow: 1;
}
.opened-chat header{
    background-color:var(--Dblk);
    max-height: 50px;
    border-left: 1px solid var(--blk);
    padding: 10px;
    position: sticky !important;
    display: flex;
    align-items: center;
    color: var(--wt);
    top: 0;
    justify-content: space-between;
}
.opened-chat footer{
    background-color:var(--Dblk);
    max-height: 50px;
    border-left: 1px solid var(--blk);
    padding: 10px;
    position: sticky !important;
    display: flex;
    align-items: center;
    color: var(--wt);
    bottom: 0;
    justify-content: space-between;
}
.opened-chat footer .container:nth-child(1){
    margin-left: 20px;
}
.opened-chat footer .container:nth-child(3){
    margin-right: 20px;
}
.opened-chat footer .container:nth-child(even){
    flex-grow: 1;
    padding: 0 20px;
}
.opened-chat footer .container:nth-child(even) input{
    width: 100%;
    padding-left:  10px;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--wt);
}
.opened-chat footer .container:nth-child(odd){
    max-width: 100px;
    /* background-color: red; */
    display: flex;
    gap: 20px;

}
.opened-chat footer i{
    font-size: 22px;
    color: var(--Deepgray);
}
.opened-chat header .container{
    padding: 0 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.opened-chat section{
    background-image:linear-gradient(to  bottom, var(--gray),var(--gray)), url(https://cdn.wallpapersafari.com/12/90/TyLtep.jpg) !important;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.opened-chat section .message_body:nth-child(1){
    margin-top: 20px;
}
.opened-chat section .message_body{
    background-color: red;
    padding: 10px;
}
/* .opened-chat section{
    background-color: green;
} */